.TeamList
{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

td a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            padding: 8px 12px;
            border-radius: 5px;
            background-color: #9ea471;
            transition: background-color 0.3s ease;
}

td a:hover {
    background-color: #5e6244;
}